<!-- BEGIN NAVIGATION -->
<a href="./"><img src="<%=(web-root "includes/images/dragonfly_logo_white.gif")%>" alt="Dragonfly web framework" title="Dragonfly web framework" width="260" height="40"/></a>
<ul>
	<li><% (link_to "Welcome" "welcome") %></li>
	<li>
		<a href="#" class="menu_toggle">User Guide</a> 
		<div class="menu clearfix" style="display:none;">
			<dl class="L">
				<dt>Getting started</dt>
				<dd><% (link_to  "Setting up Dragonfly" "dragonfly_welcome") %></dd>

				<dt>Routes</dt>
				<dd><% (link_to  "Default routes" "dragonfly_routes") %></dd>
				<dd><% (link_to  "Creating your own routes" "dragonfly_create_routes") %></dd>
				
				<dt>Templates</dt>
				<dd><% (link_to  "Creating templates and views" "dragonfly_views") %></dd>
				
				<dt>Plugins</dt>
				<dd><% (link_to  "Using and creating plugins" "dragonfly_plugins") %></dd>
				<dd><% (link_to  "List of included plugins" "dragonfly_builtin_plugins") %></dd>
			</dl>
			<dl class="R">
				<dt>Core API</dt>
				<dd><% (link_to  "Reference for Dragonfly's core API" "dragonfly_api") %></dd>
			</dl>
		</div>
	</li>
	<li>
		<a href="#" class="menu_toggle">Examples</a>
		<div class="menu clearfix" style="display:none;">
			<dl class="L">
				<dt>Tables</dt>
				<dd><% (link_to "Generate tables from lists" "dragonfly_tables") %></dd>

				<dt>Feeds</dt>
				<dd><% (link_to "How to read feeds from other websites" "dragonfly_feeds") %></dd>

				<dt>AJAX</dt>
				<dd><% (link_to "Some simple AJAX calls" "dragonfly_ajax") %></dd>

				<dt>Twitter</dt>
				<dd><% (link_to "Using Twitter with Dragonfly" "dragonfly_twitter") %></dd>

				<dt>SEO Experiments</dt>
				<dd><% (link_to "Experiments in SEO" "dragonfly_seo") %></dd>
			</dl>

			<dl class="R">
				<dt>Useful information</dt>
				<dd><% (link_to  "Dragonfly debugging information" "dragonfly_debug") %></dd>
			</dl>
		</div>
	</li>
	<li><% (link_to "Code" "code") %></li>
	<li><% (link_to "About" "about") %></li>
</ul>
<!-- END NAVIGATION -->

