<% (display-partial "doctype") %>
<% (display-partial "header") %>

<body>

<div id="wrap">
	<div id="header">
		<% (display-partial "navigation") %>	
		<div class="clear"></div>
	</div>

	<div id="content">
				
		<div class="title nomargin">
			<p>Dragonfly web framework<p>
		</div>
		<h1>Welcome to a Dragonfly test page!</h1>
		<p>
			Here we're testing what happens when you point the browser
			to a URL like <b>http://mysite.com/foo</b>, where "foo" is
			a real directory (as opposed to a view or resource).
		</p>
		<p>
			Value of cookie "foo" (reload page if nil): <%=($COOKIES "foo")%>
			
			<% (Response:cookie "foo" (amb "foo" "bar" "baz")) %>
		</p>
		<div class="line-dotted"></div>

		<% (benchmark-result) %>

		<div class="line-dotted"></div>


	</div><!-- END CONTENT -->

</div><!-- END WRAP -->
<% (display-partial "footer") %>

