<% (display-partial "doctype") %>
<% (display-partial "header") %>

<body>

<div id="wrap">
	<div id="header">
		<% (display-partial "navigation") %>	
		<div class="clear"></div>
	</div>

	<div id="content">
				
		<div class="title nomargin">
			<p><% (title "| runDragonfly.com") %><p>
		</div>

		<% (load-database "blog.nldb") %>
		<% (set 'data (nldb:select-rows 'entries true true 'ID > )) %>
		<%	

		(dolist (element data)
			(print "<h3>"(element 1)"</h3>")
			(print "<p class='author'>"(element 2)" | "(element 4)"</p>")
			(print "<p>"(element 3)"</p>")
		)
		%>		
		
		<div class="line-dotted"></div>

		<% (benchmark-result) %>
		
		<div class="line-dotted"></div>
		
		
	</div><!-- END CONTENT -->
	
</div><!-- END WRAP -->
<% (display-partial "footer") %>
