<% (display-partial "doctype") %>
<head>
	<% (display-partial "header") %>
</head>

<body>

<div id="wrap">
	<div id="header">
		<% (display-partial "navigation") %>	
		<div class="clear"></div>
	</div>

	<div id="content">
				
		<div class="title nomargin">
			<p><% (title "| Dragonfly web framework") %><p>
		</div>
		
		<h1>Dragonfly SEO functions</h1>
		
		<p class="extract">A form of online marketing, search engine optimization (or search engine marketing) is the process of making a site and its content highly relevant for both search engines and searchers. Successful search marketing helps a site gain top positioning for relevant words and phrases.
		</p>
				
		<h2>Check description length Results</h2>
		<% (check-meta-description) %><br/><br/>

		<h2>Check number of meta-keywords</h2>
		<% (check-meta-keywords (list "dragonfly" "framework" "lisp" "marc hildmann")) %><br/><br/>


		<h2>SEO Results</h2>
		<% (table_open (list "Website" "Google Pagerank&trade;" "Estimated Result Count" "No. keywords" "Description")) %>
		<% (table_footer "Dragonfly SEO Experiments") %>
		<% (table_data (list "www.newlisp.org" "4" (Dragonfly:google-results-domain "www.newlisp.org") (Dragonfly:check-meta-keywords (list "dragonfly" "framework" "lisp" "marc hildmann")) "") ) %>
		<% (table_close) %>


		
		<div class="line-dotted"></div>

		<% (benchmark-result) %>
		
		<div class="line-dotted"></div>
		
		
	</div><!-- END CONTENT -->
	
</div><!-- END WRAP -->
<% (display-partial "footer") %>

