<% (display-partial "doctype") %>
<head>
	<% (display-partial "header") %>
</head>

<body>

<div id="wrap">
	<div id="header">
		<% (display-partial "navigation") %>	
		<div class="clear"></div>
	</div>

	<div id="content">
				
		<div class="title nomargin">
			<p><% (title "| Dragonfly web framework") %><p>
		</div>
		
		<h1>Default Routes</h1>
		<p class="extract">
			Dragonfly's routes are written in pure newLISP code and have no arbitrary constraints placed on them. They can be as simple or complex as you need them to be. In fact, Dragonfly's routes are so flexible that the defaults will often be all you'll need.
		</p>
		<h2>Static Routes</h2>
		<p>
			<span class="code">Route.Static</span> is one of the two default routes that Dragonfly comes with. It offers a flexible method of serving template files to allow for a PHP-like development pattern (except PHP is replaced with newLISP code).
		</p>
		<p>
			It handles requests such as the following:
		</p>
		<ul>
			<li>example-site.com/somefile.html</li>
			<li>example-site.com/foo/</li>
		</ul>
		<p>
			This route is very flexible, and there are only three configuration parameters that may want to adjust in <b>config.lsp</b>:
		</p>
		<h3 class="param">ENABLE_STATIC_TEMPLATES</h3>
		<p>Default value: <span class="code"><b>true</b></span></p>
		<p>
			Setting this value to <span class="code"><b>nil</b></span> will remove <span class="code">Route.Static</span> from Dragonfly's list of routes. If you disable this and you're using Dragonfly with the Apache web server, be sure to also comment out this line in <b>.htaccess</b>:
		<pre class="code">RewriteCond %{REQUEST_FILENAME} \.html$</pre>
		<h3 class="param">STATIC_TRIGGER_EXTENSIONS</h3>
		<p>Default value: <span class="code"><b>'(".html")</b></span></p>
		<p>
			If the request has one of these file extensions (including the dot)
			then the route matches if and only if the requested file exists.
		</p>
		<p>
			If the request does not end in one of these extensions then
			the request the route will attempt to transform it using the
			<span class="code">STATIC_TRANSFORMATIONS</span> to see if that
			results in a matching file (see below).
		</p>
		<p>
			Any GET parameters appended to the URL will not obscure Dragonfly's ability to detect the file extension.
		</p>
		<p class="config"><b>CONFIGURATION</b><br/>
			If you modify this list and are using the Apache server,
			make sure to keep the <b>.htaccess</b> up-to-date with it.
			See the comment there and in <b>config.lsp</b> for more info.
		</p>
		<h3 class="param">STATIC_TRANSFORMATIONS</h3>
		<p>Default value:</p>
		<pre class="code">'(
    (string DOCUMENT_ROOT "/" _ "/index.html")
    (begin (set 'viewname _)
           (string VIEWS_PATH "/" _))
    (begin (set 'viewname _)
           (string VIEWS_PATH "/" _ VIEW_EXTENSION))
)</pre>
		<p>
			If the request does not have one of the
			<span class="code">STATIC_TRIGGER_EXTENSIONS</span>, then
			<span class="code">Route.Static</span> will attempt to transform
			it using this list of possible transformations, where the path is bound to the <span class="code">_</span> symbol.
		</p>
		<p>
			As an example, say we have a folder called <span class="code">foo</span> in our site's
			root, and inside of it is an <span class="code">index.html</span> file. If the user visits the following URL they will be shown the contents of <span class="code">index.html</span>:
		</p>
		<p>
			<span class="code">http://example-site.com/foo</span>
		</p>
		<p>
			This is because the first transformation resulted in a match:
		</p>
<pre class="code">
(string DOCUMENT_ROOT "/" _ "/index.html")
=> "/home/www/example-site.com/foo/index.html"
</pre>
		<p>
			Go ahead and <% (link_to "try it!" "foo") %>
		</p>
		<h2>RESTful Routes</h2>
		<p class="extract">Dragonfly supports RESTful resources. This way it's flexible against any kind of request to Your application.</p>
		<p>When your Dragonfly application receives an incoming HTTP request, say
		
		<p class="code">GET /wings/show</p>
		<p>
		the <b>LISTENER</b> within Dragonfly is the piece of code that dispatches the request to the appropriate spot in your application. In this case, the application would most likely end up running the <b>SHOW</b> action within the <b>WINGS</b> resource, displaying the WINGS.</p>

		<p class="info">The resource <b>WINGS</b> has to be available in Your resource directory</p>
		<h3 class="code">Example of wings.lsp in /resources</h3>
		<pre class="code">
(DF:activate-plugin "artfulcode/json")

(new Resource 'Resource.Wings)
(context 'Resource.Wings)

(set 'my-data
  '((wings (left right))
    (wings-condition ("good" "excellent"))
    (wings-opacity 0.5))
)

(define (Resource.Wings:Resource.Wings id response-format)
    ; defaults to calling show
    (show id response-format)
)

(define (show id response-format)
    ; in this situation we can't use newLISP's default
    ; parameter values to do this for us.
    (if-not id (set 'id 0))

    ; uh-oh! No range checking on 'resource-id' ...
    (if (= response-format "json")
        (begin
            (Response:content-type Response:json-type)
            (print (Json:lisp->json (my-data id)))
        )
        (begin
            (Response:content-type Response:text-type)
            (print (my-data id))
        )
    )
)

(context MAIN)</pre>
		<p class="config"><b>CONFIGURATION</b><br/>You may enable or disable RESTful handling by setting the constant ENABLE_RESTFUL_HANDLER in config.lsp. Default is set to "true".</p>

		<p class="config"><b>CONFIGURATION</b><br/>Set Your resource directory to whatever You want by changing the constant RESOURCES_PATH in config.lsp. Default is set to "/resources".</p>	
		<p class="continue"><% (link_to "CONTINUE &raquo;" "dragonfly_views") %></p>
		<div class="clear"></div>
		<div class="line-dotted"></div>

		<% (benchmark-result) %>
		
		<div class="line-dotted"></div>
		
		
	</div><!-- END CONTENT -->
	
</div><!-- END WRAP -->
<% (display-partial "footer") %>

