<% (display-partial "doctype") %>
<head>
	<% (display-partial "header") %>
</head>

<body>

<div id="wrap">
	<div id="header">
		<% (display-partial "navigation") %>	
		<div class="clear"></div>
	</div>

	<div id="content">
				
		<div class="title nomargin">
			<p><% (title "| Dragonfly web framework") %><p>
		</div>
		
		<h1>Templates</h1>
		<p class="extract">In Dragonfly, templates are files that have newLISP code embedded in them. This code is evaluated server-side, generating a final document that's presented to visitors.</p>

		<h2>The importance of routes</h2>
		<p>
			
		</p>
		
		<h2>View configuration</h2>
		<p>
			
		</p>
		
		<h3 class="param">VIEWS_PATH</h3>
		<p>Default value: <span class="code"><b>(string DOCUMENT_ROOT "/views")</b></span></p>
		<p>
			The location of views (for use with 'display-view' function).
		</p>
		
		<h3 class="param">PARTIALS_PATH</h3>
		<p>Default value: <span class="code"><b>(string DOCUMENT_ROOT "/views/partials")</b></span></p>
		<p>
			The location of partials (for use with 'display-partial' function).
		</p>
		
		<h3 class="param">DEFAULT_VIEW</h3>
		<p>Default value: <span class="code"><b>"welcome"</b></span></p>
		<p>
			The default view (when a user visits '/') sans file extension.
		</p>
		
		<h3 class="param">VIEW_EXTENSION</h3>
		<p>Default value: <span class="code"><b>".html"</b></span></p>

		<h2>How to call functions inside a view</h2>
		<pre class="code">&lt;% (benchmark-result) %&gt;</pre>
		
		<p>Put Your function call inside our open and close brackets and there You go! That will display some stats about rendering time and memory consumption.</p>
		
		<p class="info"><b>INFORMATION</b><br/>You can use all functions from newLISP and Dragonfly. Additionally You may write Your own functions inside a plugin and just put the file into the "plugins-active" directory.</p>
				
		<h2>How to load a partial view</h2>
		<p>Partials are just like views, there's really no difference. Sometimes it's nice
			to place your headers and footers in a different folder from your other views, and for
			those who want this Dragonfly provides explicit support through the 'display-partial' function:</p>
		<pre class="code">&lt;% (display-partial "header") %&gt;</pre>
		
		<p>This simple argument would load the "header"-partial from the partials directory.</p>

		
		<div class="line-dotted"></div>

		<% (benchmark-result) %>
		
		<div class="line-dotted"></div>
		
		
	</div><!-- END CONTENT -->
	
</div><!-- END WRAP -->
<% (display-partial "footer") %>

