<% (display-partial "doctype") %>
<head>
	<% (display-partial "header") %>
</head>

<body>

<div id="wrap">
	<div id="header">
		<% (display-partial "navigation") %>	
		<div class="clear"></div>
	</div>

	<div id="content">
				
		<div class="title nomargin">
			<p><% (title "| Dragonfly web framework") %><p>
		</div>
		
		<h1>Getting Started</h1>
		<p class="extract">
		Setting up Dragonfly is easy, there are only two steps, copying files, and changing the configuration to suit your site. Typically the configuration needs no adjusting, but depending on your situation you may need to make some adjustments.	
		</p>

		<h2>At first one question</h2>
		<p>Why is this guide so damn narrow? Because most people work on wide screens. So put the Dragonfly Guide on the left and open Your development window  in a new browser window on the right. This way the Dragonfly User Guide will always be visible.</p>
		
		<h2>Requirements</h2>
		<p>Dragonfly requires the following to work:</p>
		<ul>
			<li>newLISP v10.1 or greater.</li>
			<li>For magic redirection Apache web server is recommended.</li>
		</ul>
		
		<p>If you meet those requirements, great!
		<p class="config"><b>CONFIGURATION</b><br/>If you're using a custom web server, you might want to setup your own redirection script based on the .htaccess file.
		</p>
		
		<h2>newLISP Server</h2>
		<p>You can easily run this website locally using newLISP's built-in web server:</p>
		<pre class="code">$ cd path/to/dragonfly-newlisp/example-site
$ newlisp -http -w . -d 8080</pre>
		<p>Then just point your browser to:</p>
		<p><span class="code">http://localhost:8080</span></p>
		<p>When using newLISP as the server links must have a question mark prepended to them. For example:</p>
		<p><span class="code">http://localhost:8080/?welcome</p>
		<p class="info"><b>INFORMATION</b><br/>For information on how to configure dragonfly, see <a href="#config">Step 2: Configuring Dragonfly</a> below.</p>
		
		<h2>Apache Server</h2>
		<h3 class="code">Step 1: Copying Files</h3>
		<p>There are three things you'll need to copy into your site's root to install
		Dragonfly. You'll find these files inside the <span class="code">example-site</span> folder.</p>
		
		<ol>
			<li>The <span class="code">dragonfly-framework</span> folder</li>
			<li>index.cgi</li>
			<li>.htaccess (this file is hidden)</li>
		</ol>
		
		<p>By "site root" we mean the folder that represents your basic web address,
		for example if your website is located at:</p><p>
		<span class="code">http://www.example-site.com/</span>
		</p><p>
		If on your webserver that is represented by this folder (called the "site root"):
		</p><p>
		<span class="code">/home/www/example-site.com/</span>
		</p><p>
		Then that's the folder you'll want to copy the files into.
		</p>
		<p class="info"><b>INFORMATION</b><br/>If you'd like Dragonfly to live somewhere else inside your site root,
		click <% (link_to "here" "setup_example") %> for instructions.</p>
		
		<h3 class="code">Step 2: Configure Dragonfly</h3>
		<p>You can configure various aspects of Dragonfly's behavior by editing the <b>config.lsp</b> file in the <span class="code">dragonfly-framework</span> folder.</p><p>Read through the comments (they begin with a semi-colon) for instructions on what the settings are for.</p>
		<a name="config"></a>
		<p>By default, Apache will send all .html files through Dragonfly for further processing (if necessary) to allow for PHP-like development. If you wish to change this behavior, open the .htaccess file in the site root and read through the comments there.
		</p>

		<h3 class="code">Step 3: That's it!</h3>
		<p>You're ready to run Dragonfly!</p>
		
		<% (display-partial "continue") %>
		
		<div class="line-dotted"></div>

		<% (benchmark-result) %>
		
		<div class="line-dotted"></div>
		
		
	</div><!-- END CONTENT -->
	
</div><!-- END WRAP -->
<% (display-partial "footer") %>

