<% (display-partial "doctype") %>
<head>
	<% (display-partial "header") %>
</head>

<body>

<div id="wrap">
	<div id="header">
		<% (display-partial "navigation") %>	
		<div class="clear"></div>
	</div>

	<div id="content">
				
		<div class="title nomargin">
			<p><% (title "| Dragonfly web framework") %><p>
		</div>
		
		<img src="<%=(web-root "includes/images/dragonfly_header_1.jpg")%>" class="border" alt="Dragonfly" title="Dragonfly" width="474"/>
		
		<h1>Introduction</h1>
		<p class="extract">Dragonfly is a <b>web framework for <a href="http://www.newlisp.org">newLISP</a></b>. Development started in June 2009. It focuses on <b>speed</b>, small memory consumption and a <b>small learning curve</b>. Other goodies are a plug-and-play architecture for plugins and a very <b>easy deployment</b>. It's possible to use it with the built-in newLISP webserver.
		</p>
		
		<h2>Ten reasons for tasting Dragonfly...</h2>
		<ol>
			<li>You want performance</li>
			<li>You want a framework that will run everywhere and is easy to deploy</li>
			<li>You want a framework that's designer friendly</li>
			<li>You want a framework that bends to your will, not you to it</li>
			<li>You want a small memory footprint</li>
			<li>You want a documented framework</li>
			<li>You want clean and search-friendly URLs</li>
			<li>You want to create RESTful APIs</li>
			<li>You love newLISP</li>
			<li>And discovering new programming styles</li>
		</ol>
		<p>Enter <%(link_to "the guide" "dragonfly_welcome")%> to get started!</p>
		
		<div class="line-dotted"></div>

		<% (benchmark-result) %>
		
		<div class="line-dotted"></div>
		
		
	</div><!-- END CONTENT -->
	
</div><!-- END WRAP -->
<% (display-partial "footer") %>

